* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #afadad;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10%;
}

header .logo {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

header .logo img {
    height: 75px;
}

header .logo h1 {
    font-size: 35px;
    color: black;
    font-family: 'Segoe UI';
    letter-spacing: normal;
}

main {
    background-color: rgb(57, 162, 255);
    flex: 1;
    background-image: url(assets/fundo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    


}

main .cards-container {
    width: 90%;
    max-width: 1200px;

    margin: 20px auto;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 400px;
    background-color: rgba(194, 194, 194, 0.747);
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    
}

.card img {
    width: 210px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {}

.card p {}

footer {
    background-color: rgb(176, 176, 176);
    padding: 5px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 500;
}